

.main {
  /* background: #f12711;  
  background: -webkit-linear-gradient(to left, #f5af19, #f12711); 
  background: linear-gradient(to left, #f5af19, #f12711);  */
  background-image: url(/snakered.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black
  }

.kojima-img{
  position: absolute;
  top: 170px;
  left: 70px;
  height: 350px;
  width: 300px;
  object-fit: fill;
  background: rgb(0, 0, 0);
  padding: 10px 10px 10px 10px;
  border: 1px solid rgb(197, 59, 24);
}

.banner-text {
  width: 30%;
  margin: 0%;
  position: relative;
  left: 850px;
  background-color: black;
  opacity: .8;
  border-radius: 5px;
  
}

.banner-text h1 {
  font-family: 'Balsamiq Sans', cursive;
  font-size: 20px;
  font-weight: bold;
  color: white;
}